<p>
This challenge proposes two Continual Semi-Supervised Learning tracks making use of the new MEVA-CL dataset (CAR-A and CAR-I):

CAR-A Continual Semi-supervised Activity Detection – Absolute.
The goal is to both achieve the best average performance across all the unlabelled portions of the sequences in the MEVA-CL dataset in a CSSL setting, leaving the choice of the base detector model to the participants.

CAR-I Continual Semi-supervised Activity Detection – Incremental.
The goal here is to achieve the best performance improvement over time, measured from start to end of each unlabelled data stream and taking the average over all the available data streams in the dataset. A baseline detector model is provided by organizers at https://github.com/salmank255/IJCAI-2021-Continual-Activity-Recognition-Challenge</p>
